@mixin flex-wrapper($direction: row, $align-items: center) {
    display: flex;
    flex-direction: $direction;
    align-items: $align-items;
}

header {
    @include flex-wrapper();
    justify-content: center;
    width: 96%;
    height: 5rem;
    margin: auto;
    margin-bottom: 2em;
    position: relative;
    border-bottom: 2px solid #6c6c6c;

    & > a {
        width: 3rem;
        position: absolute;
        left: 2rem;

        img {
            width: 100%;
        }
    }

    ul {
        @include flex-wrapper();
        gap: 2rem;

        a {
            color: #000;
            font-size: 1.3rem;
        }
    }
}