@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ul,ol {
    list-style: none;
}

input,button {
    font-family: "Roboto", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
}

@mixin flex-wrapper($direction: row, $align-items: center) {
    display: flex;
    flex-direction: $direction;
    align-items: $align-items;
}

@mixin grid-wrapper($columns) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    place-items: center;
}

.content {
    width: 96%;
    margin: auto;
    position: relative;
    display: block;
}

.banner {
    width: 100%;
    margin-bottom: 6em;

    img {
        width: 100%;
        border-radius: 20px;
        filter: brightness(70%);
    }

    .banner__logo {
        position: absolute;
        bottom: 2em;
        left: 2em;
        width: 7%;
        filter: brightness(100%);
    }

    p {
        padding: 4px 8px;
        border-radius: 0.3rem;
        color: #fff;
        background-color: #6c6c6ca8;
        position: absolute;
        right:1rem;
        bottom: 1rem;
        font-size: 1em;
        font-weight: 300;
    }
}

.advantages {
    margin-bottom:6em;
    background: #fff;
    filter: invert(1);
    padding: 3em 0;

    h2 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 1.2em;
        font-weight: 400;
    }

    &_content {
        @include flex-wrapper;
        width: 90%;
        margin: auto;
    }

    &_advantage {
        @include flex-wrapper(column);
        gap: 1.2em;

        img {
            width: 40%;
        }

        h4 {
            font-size: 1.2em;
            font-weight: 500;
        }

        p {
            font-size: 1em;
            text-align: center;
            width: 70%;
        }
    }
}

.select {
    width: 100%;
    margin: 0 auto 10em;

    h2 {
        font-size: 2.2em;
        font-weight: 400;
        margin-bottom: 1em;
        text-align: center;
    }

    &__cars {
        @include flex-wrapper;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 1.5rem;

        .select__car {
            @include flex-wrapper(column);
            justify-content: center;
            gap: 1rem;
            width:17rem;
            height: 16rem;
            border: 2px solid #562cb8;
            border-radius: 16px;

            div {
                @include flex-wrapper;
                justify-content: center;
                height: 75%;
                width: 90%;
                padding-bottom: 1em;
                border-bottom: 2px solid #562cb8;
                
                img {
                    height: 100%;
                }
            }

            p {
                font-size: 1.2em;
                color: #000;
            }
        }
    }
}

.about {
    width: 100%;
    margin-bottom: 10em;

    &__wrap {
        @include flex-wrapper();
        width: 100%;
        position: relative;
    }

    &__image {
        width: 100%;
        filter: brightness(40%);
    }

    &__text {
        position: absolute;
        left: 4em;
        color: #fff;
        @include flex-wrapper(column, start);
        gap: 3em;
    }

    &__h3 {
        font-size: 2.5em;
        font-weight: 300;
    }

    &__list {
        @include flex-wrapper(column, start);
        gap: 1.5em;
    }

    &__item {
        font-size: 1.5em;
        font-weight: 200;
    }
}

.reviews {
    width: 100%;
    margin-bottom:10em;

    &__h3 {
        margin-bottom: 1em;
        font-size: 2.5em;
        font-weight: 400;
    }

    &__wrapper {
        @include flex-wrapper;
        justify-content: space-between;
    }

    .review {
        width: calc(90% / 4);
        border: 2px solid #cecece;
        border-radius: 10px;
        padding: 20px 12px;
        font-size: 17px;

        &__stars {
            @include flex-wrapper;
            margin-bottom: 1em;
        }

        &__star {
            width: 1.8em;
        }
    }
}

.feedback {
    width: 100%;
    height: 73vh;
    background-image: url('../images/contact-section-background.png');
    background-size: cover;
    padding: 0.7em 0.4em;

    h2 {
        font-size: 2.5em;
        font-weight: 300;
        color: #fff;
        text-align: center;
        margin-bottom: 0.6em;
    }

    .form {
        @include flex-wrapper(column);
        width: 100%;

        &__contact {
            @include flex-wrapper(column);
            gap: 1em;
            margin-bottom: 1.2em;
        }
        
        &__input {
            width: 350px;
            height: 2.5em;
            padding: 0 1em;
            font-size: 1.2em;
            border: none;
            border-radius: 8px;
            margin-bottom: 0.2em;

            &:focus {
                outline: none;
            }
        }

        &__download {
            @include flex-wrapper(column);
            justify-content: space-between;
            gap: 1em;
            color: #fff;
            width: 350px;
            margin-bottom: 2em;
            font-size: 1.2em;

            input {
                display: block;
                font-size: 1.2em;
                width: 16em;
            }
        }
    
        &__submit {
            @include flex-wrapper;
            justify-content: center;
            gap: 1em;
            color: #fff;
            font-size: 1.2em;
            margin-bottom: 1em;
        }

        &__button {
            padding: 0.5em 5em;
            border: none;
            border-radius: 8px;
            font-size: 1.2em;
            cursor: pointer;
        }
    }


}

.map {
    padding: 10px;
    background: #ffffff;

    iframe {
        width: 1000px;
        height: 500px;
        margin: 0 auto;
    }
}

@media (max-width: 900px) {
    .about {
        font-size: 12px;
    }
}

@media (max-width: 750px) {
    .banner {
        font-size: 10px;
    }

    .advantages {
        font-size: 10px;

        &_advantage {
            img {
                width: 30%;
            }
        }
    }

    .about {
        font-size: 10px;
    }

    .reviews {
        .review {
            font-size: 14px;
        }
    }

    .map {
        iframe {
            width: 600px;
            height: 250px;
        }
    }
}

@media (max-width: 600px) {
    .select {
        width: 100%;
        margin: 0 auto 10em;

        h2 {
            font-size: 2.2em;
            font-weight: 400;
            margin-bottom: 1em;
            text-align: center;
        }

        &__cars {
            flex-direction: column;
        }
    }

    .about {
        font-size: 6px;
    }

    .reviews {
        .review {
            font-size: 8px;
        }
    }

    .feedback {
        background: #000;
        height: 60vh;
    }
}

@media (max-width: 400px) {
    .advantages {
        font-size: 8px;
    }
}